/*
	Site name

	Layout © , Jacob Hume
	Licensed AGPLv3, Rock on.
*/


/*= Base Styles ============*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #00f;
}

body {
	color: #000;
	font-family: serif;
	font-size: 1.5em;
}

footer {
	clear: both;
	color: #666;
	padding: 1em;
	text-align: center;
}

section>h1 {
	margin-top: 0;
}

html {
	background: #fefefe;
}



/*= Modules ================*/

.a11y-link {
	background: #fff;
	position: fixed;
	top: -10em;
}

.content {
}

.content-title {
}

.site-title {
}


/*= State ==================*/

.a11y-link:active,
.ally-link:focus {
	top: 1em;
}



/*= Responsive =================*/

@media screen and (max-width: 450px) {

	body {
		font-size: 1em;
	}
}
